#home{
    text-decoration: none;
    font-family: monospace;
    color: coral;
}
#nav_bar{
    background-color: purple;

}

.correct-animation-enter {
    opacity: 0;
  }
  
  .correct-animation-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  